.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tg-common-color-grey);
  z-index: 9999;
}

.loader {
  position: relative;
  width: 50px; // 🔥 Компактный размер
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.primary {
  border-top-color: var(--tg-theme-primary);
  border-left-color: var(--tg-theme-primary);
  animation-direction: normal;
}

.secondary {
  border-bottom-color: var(--tg-theme-secondary);
  border-right-color: var(--tg-theme-secondary);
  animation-direction: reverse;
  width: 80%;  // 🔥 Второй круг меньше, создаем эффект
  height: 80%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
