@use '../utils' as *;

/*=============================
    Editor Info
===============================*/

.editor-info {
    // &__area {
    //     @media #{$xs} {
    //         p, li {
    //             font-size: 12px;
    //         }
    //     } 
    // }
    &__H1 {
        text-align: center;
        color: var(--tg-heading-color);
        font-size: 1.3rem;
        margin-bottom: 20px;
        font-weight: var(--tg-fw-bold);
        text-transform: uppercase;
        font-family: var(--tg-heading-font-family);
    }
    img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/*=============================
    Таблицы (Горизонтальный скролл только при необходимости)
===============================*/

.raw-html-embed {
    table {
        display: block;
        max-width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid white;
        padding: 5px;
        text-align: left;
        color: white;
    }
}

/*=============================
    Мобильная адаптация
===============================*/

@media (max-width: 768px) {
    .raw-html-embed {
        table {
            display: block;
            overflow-x: auto;
        }    
    }
    H2 {
        font-size: 1.25rem;
    }
    H3 {
        font-size: 1rem;
    }
    p, li {
        font-size: 0.75rem;
    }
}