/*=============================
    Header
===============================*/


.tgmenu__action .header-btn::before {
    content: none;
}
/*=============================
    LeonHeroBanner
===============================*/

.slider__content {
    margin-top: 50px;
    margin-bottom: 20px;
}

/*=============================
    area-top-rated
===============================*/

// .streamers__thumb::after {
//     content: none;
// }

.streamers__content {
    z-index: 0 !important;
}

.leon_info__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 50px;
    gap: 60px 50px;
    }
    
    @media (max-width: 1199.98px) {
    .leon_info__wrapper {
        gap: 50px 45px;
    }
    }
    @media (max-width: 767.98px) {
    .leon_info__wrapper {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
    .leon_info__wrapper {
        gap: 50px 40px;
        grid-template-columns: repeat(2, 1fr);
    }
    }
    .nft-item__price p span {
        text-transform: uppercase;
        font-weight: var(--tg-fw-bold);
        color: var(--tg-theme-secondary);
      }

/*=============================
    custom-button
===============================*/

    .custom-button {
        background-color: var(--tg-theme-primary);
        color: var(--tg-common-color-white);
        padding: 15px 20px;
        font-size: 16px;
        border-radius: 8px;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        width: 100%;
        transition: background-color 0.5s ease;
        &:hover {
            background-color: var(--tg-theme-secondary); 
            color: var(--tg-common-color-white);
        } 
    }          
    .custom-button-header {
        display: inline-flex;
        font-family: var(--tg-heading-font-family);
        color: var(--tg-common-color-white);
        font-weight: var(--tg-fw-extra-bold);
        text-transform: uppercase;
        padding: 10px 30px;
        font-size: 16px;
        letter-spacing: 0.8px;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid var(--tg-theme-secondary); /* Прозрачная обводка */
        background-color: transparent; /* Прозрачный фон */
        border-radius: 8px; /* Закругленные углы */
        cursor: pointer;
        transition: all 0.3s ease; /* Плавный переход для эффектов */
        & i {
            margin-right: 10px;
        }
        &:hover {
            background-color: var(--tg-theme-secondary); /* Фон при наведении */
            color: var(--tg-common-color-white); /* Цвет текста при наведении */
            border-color: transparent; /* Цвет обводки при наведении */
        }
    }

    .custom-button-main-page {
        display: inline-flex;
        font-family: var(--tg-heading-font-family);
        color: var(--tg-common-color-white);
        font-weight: var(--tg-fw-extra-bold);
        text-transform: uppercase;
        padding: 10px 60px;
        font-size: 16px;
        letter-spacing: 0.8px;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid var(--tg-theme-secondary); /* Прозрачная обводка */
        background-color: var(--tg-theme-secondary); /* Прозрачный фон */
        border-radius: 8px; /* Закругленные углы */
        cursor: pointer;
        transition: all 0.3s ease; /* Плавный переход для эффектов */
        & i {
            margin-right: 10px;
        }
        &:hover {
            background-color: var(--tg-common-color-white); /* Фон при наведении */
            color: var(--tg-theme-secondary); /* Цвет текста при наведении */
            border-color: var(--tg-theme-primary); /* Цвет обводки при наведении */
        }
    }