/*=============================
    Header
===============================*/


.tgmenu__action .header-btn::before {
    content: none;
}
/*=============================
    LeonHeroBanner
===============================*/

.slider__content {
    margin-top: 50px;
    margin-bottom: 20px;
}

/*=============================
    area-top-rated
===============================*/

.streamers__thumb::after {
    content: none;
}

.streamers__content {
    z-index: 0 !important;
}

.leon_info__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 50px;
    gap: 60px 50px;
    }
    
    @media (max-width: 1199.98px) {
    .leon_info__wrapper {
        gap: 50px 45px;
    }
    }
    @media (max-width: 767.98px) {
    .leon_info__wrapper {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
    .leon_info__wrapper {
        gap: 50px 40px;
        grid-template-columns: repeat(2, 1fr);
    }
    }
    .nft-item__price p span {
        text-transform: uppercase;
        font-weight: var(--tg-fw-bold);
        color: var(--tg-theme-secondary);
      }


